
:root {

}

* {
margin: 0;
padding: 0;
border: none;
}

body{
    font-family: Lato, sans-serif;
}


/* navigation styling */

#logo{
    font-family:  sans-serif;
    font-size: 250%;
    float: left;
    margin-left: 0.5em;
}

#navigation, #logo{
    line-height: 5rem;
    margin-bottom: 0;
}


#navigation {
    font-size: 130%;
    font-weight: 500;
    letter-spacing: 0.1rem;
    float: right;
}

#navigation {
    font-size: 130%;
    font-weight: 500;
    letter-spacing: 0.1rem;
    float: right;
}

#navigation li {
    float: left;
    list-style: none;
    margin-right: 1.5em;

}

#navigation a{
    text-decoration: none;
}

#navigation a:hover{
    border-bottom:  0.05rem black;
    color: black;
    text-decoration: underline;
}

#center-focus{
    width: 100%;
    height: 30rem;
    overflow: hidden;
    position: relative;
}
#center-img{
    background-position:center ;
    width: 100%;
    height: 40rem;
    background-color: blue;
    background-size:cover;
    animation: front-img-fade-in 4s;
}